@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    line-height: 1.5;
    font-family: "Poppins", Arial, Helvetica;
    /* font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%; */
}

/* reuseable style rules for tailwindcss */
@layer components {
    .flex-items-center {
        @apply flex items-center justify-center;
    }
    .flex-items-start {
        @apply flex items-start justify-center;
    }
    .flex-justify-start {
        @apply flex items-start justify-start;
    }
    .main-wrapper {
        @apply w-[90%] max-w-screen-2xl h-auto my-4 lg:my-0 lg:h-[95vh] 
         2xl:h-fit bg-light py-12 rounded-md relative overflow-y-scroll 2xl:overflow-y-hidden;
    }
    .timer {
        @apply text-light text-lg bg-space-cadet p-2 lg:p-3 mx-[1px] rounded-md font-bold;
    }
    .form-flex {
        @apply lg:h-full lg:flex lg:flex-col lg:justify-around;
    }
    .input {
        @apply block w-full px-10 py-4 rounded-lg bg-off-white 
        outline-none text-center border border-light-blue;
    }
    .input-badge {
        @apply w-5 absolute top-1/3 right-[2%];
    }
    .pay-btn {
        @apply absolute w-[90%] left-1/2 -translate-x-1/2 lg:translate-x-0 bottom-0 mb-3 lg:mb-0 z-10 lg:w-full 
        p-4 text-light font-bold rounded-lg bg-[#025EFFff] lg:static;
    }
    .card-details {
        @apply absolute bg-white w-[70%] h-1/2 lg:h-[55%] left-1/2 -translate-x-1/2 p-4 text-yinmn-blue rounded-lg shadow-xl
        lg:-top-[80px] xl:-top-[62px] 2xl:-top-[68px];
    }
    .payment-details {
        @apply flex items-end justify-center shadow-lg bg-gradient-to-b from-platinum to-alice-blue 
        h-[605px] lg:h-full px-4 py-4 rounded-lg bg-platinum lg:px-8;
    }
}
