@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    line-height: 1.5;
    font-family: "Poppins", Arial, Helvetica;
    /* font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%; */
}

/* reuseable style rules for tailwindcss */
@layer components {
    .flex-items-center {
        @apply flex items-center justify-center;
    }
    .flex-items-start {
        @apply flex items-start justify-center;
    }
    .flex-justify-start {
        @apply flex items-start justify-start;
    }
    .main-wrapper {
        @apply w-[90%] max-w-screen-2xl h-[90vh] xl:h-[95vh] 2xl:h-fit bg-light py-12 relative overflow-y-scroll lg:overflow-y-hidden;
    }
    .timer {
        @apply text-light text-lg bg-dark p-2 mx-[1px] rounded-md font-bold;
    }
    .input {
        @apply block w-full px-10 py-4 rounded-lg outline-none bg-gray;
    }
    .input-badge {
        @apply w-5 absolute top-1/3 right-[2%];
    }
}
